@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table>
        @try
        {
            if (ViewBag.AllAssignments)
            {
                foreach (var assignment in ViewBag.Assignments)
                {
                    <tr>
                        <td>@assignment.Description</td>
                        <td>@assignment.PointsEarned / @assignment.PointsTotal</td>
                        <td>@assignment.DueDate</td>
                    </tr>
                }
            }
        }
        catch
        {

        }
    </table>
</body>
</html>
