
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@ViewBag.Assignment.Description</p>

<p>@ViewBag.Assignment.DueDate</p>

<p>@ViewBag.Assignment.PointsEarned</p>

<p>@ViewBag.Assignment.PointsTotal</p>