Gathering/Gathering/obj/Debug/Gathering.pdb
Gathering/Gathering/obj/Debug/Gathering.dll
Gathering/Gathering/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Gathering/Gathering/bin/Gathering.pdb
Gathering/Gathering/bin/Gathering.dll
Gathering/Gathering/App_Data/aspnet-Gathering-20171104055129_log.ldf
Gathering/Gathering/App_Data/aspnet-Gathering-20171104055129.mdf
Gathering/.vs/Gathering/v15/.suo
