@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h4>Created by Allen Hazlett and Jeromy McCorriston @@HackPSU2017. Thanks to the <b>Staff</b> for making this all happen, as well as all of the <b>Sponsors</b>!</h4>
