@{
    ViewBag.Title = "About";
}
<style>
    h1, h2, h3{
        margin-top: 50px;
        text-align: center;
    }
</style>
<h1>@ViewBag.Title</h1>

<h3>Created by Allen Hazlett and Jeromy McCorriston @@HackPSU2017. Thanks to the <b>Staff</b> that worked so hard in order to make all of this happen happen</h3>
<h3>Thank you to the <b>Sponsors</b> as well for funding this event and allowing us to have all of the insight and knowledge.</h3>
<h2>A special thanks to all of the Sponsors who were on all night long providing support to those who needed it, we all appreciate it a lot!</h2>
<h3>This project was made using MVC in Visual Studio with Microsoft SQL Server 2016 for the DB. A lot of inspiration for this was taken from the popular web app, <i>Canvas</i>. We both felt
    like sometimes it has been too complicated to get a simple overview of our grades in Canvas, Angel, or Lionpath. This is closer to a very detailed <b>proof of concept</b>, as
    with only two developers, it isn't easy to implement an entire web app like this. Because of this, we plan to re-look at our scope if we ever attend another hackathon like this</h3>
