@using Gathering.Models
@{
    ViewBag.Title = "Dashboard";
}
<h2>@ViewBag.Title</h2>

<head>
    <link href="@Url.Content("~/Content/Grades.css")" rel="stylesheet" type="text/css" />
</head>
<div id="tileContainer">
    <a href="@Url.Action("Index", "Grade", "22")">
        <div class="tile">
            <p>IST 220: Secton 5</p>
        </div>
    </a>
    <a href="@Url.Action("Index", "Grade", 23)">
        <div class="tile">
            <p>SRA 111: Secton 3</p>
        </div>
    </a>
</div>
