@using Gathering.Models
@{
    ViewBag.Title = "Dashboard";
}
<h2>@ViewBag.Title</h2>

<head>
    <link href="@Url.Content("~/Content/Grades.css")" rel="stylesheet" type="text/css" />
</head>
<div id="tileContainer">
    @foreach (Course course in ViewBag.Courses)
    {
        <div class="tile" data-id="@course.Id">
            <p>@course.Name</p>
            <p> Period Number / Section Number </p>
        </div>
    }
</div>
