@{
    ViewBag.Title = "Home Page";
}
<style>
    h1, h2{
        text-align: center;
    }
</style>

<img src="~/Images/logo.png" style="width: 256px; height: 256px; margin-left: 40%; margin-top: 20px; margin-bottom: 20px;" />

<h1>Welcome to Gathering</h1>
<h2>Gathering is a platform made for simplifying the grading process. As both a Student and a Teacher, it can be very frustrating and time consuming to enter grades electronically.</h2>
<h2>Gathering aims at fixing that problem.</h2>
<h2>Please register above if you haven't already, and try the demo of our idea.</h2>